div.box1{
    height: 100px;
    width: 300px;
    background-color: #bbbbaa;
}

div.box1 p{
    height: 75%;
    width: 75%;
    background-color: #0088dd;
}

div.box2{
    height: 200px;
    width: 400px;
    background-color: aqua;
}

div.box2 h2{
    width: 25%;
    background-color:bisque ;
}

.box2 p{
    width: 50%;
    background-color: coral;
}

td{
    background-color: cadetblue;
}


td.deskripsi{
    min-width: 700px;
    max-width: 500px;
    background-color: orange;
}

h2,h3{
    font-family: Arial;
    color: dodgerblue;
}

p.satu{
    height: 100px;
    width: 200px;
    overflow: hidden;
}

p.dua{
    height: 100px;
    width: 200px;
    overflow: scroll;
}