/* Foreground Color */

/* Color Name */

h1{
    color:darkcyan;
}

/* Color Name */


/* Hex Code */

h2{
    color:#d91c61
}


/* Hex Code */

/* RGB Value */

p{
    color:rgb(6, 2, 16)
}

/* RGB Value */

/* Foreground Color */

/* Background Color */

body{
    background-color: #efefef;
}

h1{
    background-color: darkkhaki;
}

h2{
    background-color: darkseagreen;
}

p{
    background-color: rgb(100,25,255);
}











/* Background Color */
