body{
    width: 960px;
    margin: 0 auto;
    font-family: Arial;
}

#header h1{
    text-align: center;
}

#nav, #highlight, #footer{
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #efefef;
}

#nav li{
    display: inline;
    padding: 5px;
}


#highlight img{
    width: 20%;
}

.artikel{
    float:left;
    background-color: #efefef;
    width: 280px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    
}

#content{
    height: 100%;
    overflow: auto;
}


    
