h1{
    font-family: Georgia;
    font-size: xx-large;
    font-weight: normal;
}

.credit{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

.tautan{
    font-family: Arial;
    font-size: 80%;
    font-style: italic;
    text-decoration: none;
}


p.intro{
    font-family: 'Segoe UI';
    font-size: 1.2em;
}